body {background-color: hotpink;}
#div1{color:pink;}
#div2{color:white;}
#div3{color:blue;}
#div4{color:green;}
/*  hi */
.textDiv{background-color: black; border-radius: 10px; padding:10px; margin:50px auto; text-align: center; width: 50%; }